.about-me {
  max-width: 650px;
}

/* .container {
    display: flexbox;
    flex-direction: row;
} */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
